<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>社員一覧</title>
</head>
<body>
	<h1>社員一覧</h1>
	<div>
		<form th:action="@{/rpc/search}" th:object="${searchForm}" th:method="post">
			 <input type="text" th:field="*{name}">
			 <input type="submit" value="検索">
		</form>
	</div>
	<div>
		<table>
			<thead>
				<tr>
					<th>社員ID</th>
					<th>名前</th>
					<th>性別</th>
					<th>生年月日</th>
				</tr>
			</thead>
			<tbody th:each="item : ${list}" th:object="${item}">
				<td><span th:text="*{userId}"></span></td>
	            <td><span th:text="*{name}"></span></td>
	            <td><span th:text="*{gender==1}?'男性':'女性'"></span></td>
	            <td><span th:text="${#dates.format(item.birthday, 'YYYY/MM/dd')}"></span></td>
	            <td><a th:href="@{/rpc/{userId}/edit(userId=*{userId})}">編集</a></td>
			</tbody>
		</table>
		<a th:href="@{/rpc/signup}">社員登録</a>
	</div>
</body>
</html>