<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.SyainInfoMapper">
	<insert id="syainAdd">
		INSERT INTO T_SYAIN
            (name, userId, birthday, gender, entryDate)
        VALUES
            (#{name}, #{userId}, #{birthday}, #{gender}, CURRENT_TIMESTAMP)		
	</insert>
	<select id="counter" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM T_SYAIN;
    </select>
    <select id="syainList" resultType="com.example.entity.TSyain">
        SELECT * FROM T_SYAIN;
    </select>
    <select id="findByUserId" resultType="com.example.entity.TSyain">
        SELECT * FROM T_SYAIN WHERE userId = #{userId};
    </select>
    
</mapper>