<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>社員登録</title>
</head>
<body>
	<h1>社員登録</h1>
	<form method="post" th:action="@{/rpc/signup}" th:object="${form}">
		<input type="text" th:field="*{name}" placeholder="名前">
		<input type="text" th:field="*{birthday}" placeholder="生年月日">
		<input type="text" th:field="*{password}" placeholder="パスワード">
		<label for="male">男:</label>
        <input type="radio"  th:field="*{gender}" value="1">
        <label for="female">女:</label>
        <input type="radio"  th:field="*{gender}" value="2">
        <input type="submit" value="登録">
	</form>
	<a th:href="@{/rpc/list}">戻る</a>

</body>
</html>